{% extends 'base.html' %}

{% block content %}
  <div class="center-container-property-list">
    <h2 class = "custom-h2">Мои запросы на просмотр</h2>
  </div>
  
  <table class="requests-table">
    <thead>
      <tr>
        <th>Объект</th>
        <th>Дата запроса</th>
        <th>Статус</th>
      </tr>
    </thead>
    <tbody>
      {% for viewing_request in viewing_requests %}
        <tr>
          <td>{{ viewing_request.property.title }}</td>
          <td>{{ viewing_request.viewing_time }}</td>
          <td>{{ viewing_request.get_status_display }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">У вас нет запросов на просмотр.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="center-container"></div>
{% endblock %}
