{% extends 'base.html' %}

{% block content %}
    <div class="center-container">
        {% if user.role == 'client'%}
            <h2>Профиль клиента</h2>
        {% endif %}
        {% if user.role == 'admin'%}
            <h2>Профиль администратора</h2>
        {% endif %}
        {% if user.role == 'realtor'%}
            <h2>Профиль риелтора</h2>
        {% endif %}
        <p>Добро пожаловать, {{ user.username }}!</p>
        <div class="profile-actions">
            {% if user.role == 'client'%}
                <a href="{% url 'core:my_viewing_requests' %}" class="body-button">Мои запросы</a>
                <a href="{% url 'core:my_rental_agreements' %}" class="body-button">Мои договоры</a>
            {% endif %}
            {% if user.role == 'admin'%}
                <a href="/admin/" class="body-button">Админка</a>
            {% endif %}
            {% if user.role == 'realtor'%}
                <a href="{% url 'core:realtor_properties' %}" class="body-button">Мои объявления </a>
                <a href="{% url 'core:realtor_viewing_requests' %}" class="body-button">Запросы на подтверждение</a>
                <a href="{% url 'core:realtor_rental_agreements' %}" class="body-button">Договоры на согласование</a>
            {% endif %}
        </div>
    </div>
{% endblock %}