{% extends 'base.html' %}

{% block content %}
<div class="center-container-property-list">
    <h2 class = "custom-h2">Список недвижимости</h2>
</div>

<form method="get" class="form-sort-style">
    <label for="sort">Сортировать по:</label>
    <select name="sort" id="sort" onchange="this.form.submit()">
      <option value="price" {% if request.GET.sort == 'price' %}selected{% endif %}>Цене ↓</option>
      <option value="-price" {% if request.GET.sort == '-price' %}selected{% endif %}>Цене ↑</option>
      <option value="area" {% if request.GET.sort == 'area' %}selected{% endif %}>Метражу ↓</option>
      <option value="-area" {% if request.GET.sort == '-area' %}selected{% endif %}>Метражу ↑</option>
    </select>
</form>

<div class="property-list">
    {% for property in properties %}
        <div class="property-card">
            <h3>{{ property.title }}</h3>
            <p>{{ property.description }}</p>
            <p><strong>Цена:</strong> {{ property.price }} руб.</p>
            <p><strong>Площадь:</strong> {{ property.area }} м²</p>
            <p><strong>Местоположение:</strong> {{ property.location }}</p>
            <p><strong>Статус:</strong> {{ property.get_status_display }}</p>

            {% if user.is_authenticated %}
                {% if user.role == 'client'%}
                    <a href="{% url 'core:viewing_request' property.id %}" class="body-button">Запрос на просмотр</a>
                {% endif %}
            {% else %}
                <a href="{% url 'core:login' %}" class="body-button">Запрос на просмотр</a>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}
