{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyRent</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'core:home' %}" class="header-button">Главная</a></li>
                <li><a href="{% url 'core:property_list' %}" class="header-button">Каталог</a></li>
                {% if user.is_authenticated %}
                    <form action="{% url 'core:logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button class="header-button" type="submit" >Выйти</button>
                    </form>
                    <li><a href="{% url 'core:my_viewing_requests' %}" class="header-button">Запросы</a></li>
                {% else %}
                    <li><a href="{% url 'core:register' %}" class="header-button">Зарегистрироваться</a></li>
                    <li><a href="{% url 'core:login' %}" class="header-button">Войти</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Основной контент будет вставляться сюда -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 EasyRent</p>
    </footer>
</body>
</html>
